@import "tailwindcss";

@theme {
  --page-background: var(--color-base-100);
}

@layer components {
  .content-container {
    width: min(var(--content-width), 100vw - 4rem);
    margin-inline: auto;
  }
}
