@import "tailwindcss";

@theme {
  --color-page-background: var(--page-background);
}

@layer components {
  /* btn-primary: A blue primary button with rounded corners */
  .content-container {
    width: min(var(--content-width), 100% - 4rem);
    margin-inline: auto;
  }
}
