---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="content-container py-4 flex gap-4 items-center">
    <a href="/">
      <img class="w-8 h-8" src="/logo.svg" alt="Logo" />
    </a>
    <div class="flex gap-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>

<style></style>
