---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, pubDate, heroImage } = post.data;

const formattedDate = pubDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class="prose-sm cursor-pointer flex">
  <div class="flex-auto">
    <h3 class="not-prose text-primary">{title}</h3>
    <p class="text-xs not-prose text-neutral-400">{formattedDate}</p>
    <p class="mb-0">{description}</p>
  </div>
  {
    heroImage && (
      <div class="px-4 shrink-0 flex items-center justify-center">
        <figure class="not-prose">
          <Image
            class="rounded-xl"
            width={100}
            height={100}
            src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            alt="Movie"
            loading="eager"
          />
        </figure>
      </div>
    )
  }
</article>

<style>
  .card-body {
    padding: calc(var(--spacing) * 4);
  }

  figure {
    width: clamp(40px, calc(100vw / 320 * 40), 60px);
  }

  p {
    font-size: 0.875rem;
  }
</style>
