---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { formatDate } from "@/utils/date";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, pubDate, heroImage } = post.data;
const formattedDate = formatDate(pubDate);
---

<article class="prose-sm prose-p:prose cursor-pointer flex dark:prose-invert">
  <div class="flex-auto">
    <h3 class="not-prose text-primary">{title}</h3>
    <p class="mb-2 not-prose text-neutral-400 not-dark:text-neutral-600">{formattedDate}</p>
    <p class="mt-0 mb-0">{description}</p>
  </div>
  {
    heroImage && (
      <div class="px-4 shrink-0 flex items-center justify-center">
        <figure class="not-prose">
          <Image
            class="rounded-xl"
            width={100}
            height={100}
            src={heroImage}
            alt="Movie"
            loading="lazy"
          />
        </figure>
      </div>
    )
  }
</article>

<style>
  figure {
    width: clamp(40px, calc(100vw / 320 * 40), 60px);
  }
</style>
