[data-neutral="slate"] {
	--function-neutral-100:  var(--scheme-slate-100);
	--function-neutral-200:  var(--scheme-slate-200);
	--function-neutral-300:  var(--scheme-slate-300);
	--function-neutral-400:  var(--scheme-slate-400);
	--function-neutral-500:  var(--scheme-slate-500);
	--function-neutral-600:  var(--scheme-slate-600);
	--function-neutral-700:  var(--scheme-slate-700);
	--function-neutral-800:  var(--scheme-slate-800);
	--function-neutral-900:  var(--scheme-slate-900);
	--function-neutral-1000: var(--scheme-slate-1000);
	--function-neutral-1100: var(--scheme-slate-1100);
	--function-neutral-1200: var(--scheme-slate-1200);

	--function-neutral-600-10: var(--scheme-slate-600-10);
	--function-neutral-600-30: var(--scheme-slate-600-30);
	--function-neutral-600-50: var(--scheme-slate-600-50);
}

[data-neutral="gray"] {
	--function-neutral-100:  var(--scheme-gray-100);
	--function-neutral-200:  var(--scheme-gray-200);
	--function-neutral-300:  var(--scheme-gray-300);
	--function-neutral-400:  var(--scheme-gray-400);
	--function-neutral-500:  var(--scheme-gray-500);
	--function-neutral-600:  var(--scheme-gray-600);
	--function-neutral-700:  var(--scheme-gray-700);
	--function-neutral-800:  var(--scheme-gray-800);
	--function-neutral-900:  var(--scheme-gray-900);
	--function-neutral-1000: var(--scheme-gray-1000);
	--function-neutral-1100: var(--scheme-gray-1100);
	--function-neutral-1200: var(--scheme-gray-1200);

	--function-neutral-600-10: var(--scheme-gray-600-10);
	--function-neutral-600-30: var(--scheme-gray-600-30);
	--function-neutral-600-50: var(--scheme-gray-600-50);
}

[data-neutral="sand"] {
	--function-neutral-100:  var(--scheme-sand-100);
	--function-neutral-200:  var(--scheme-sand-200);
	--function-neutral-300:  var(--scheme-sand-300);
	--function-neutral-400:  var(--scheme-sand-400);
	--function-neutral-500:  var(--scheme-sand-500);
	--function-neutral-600:  var(--scheme-sand-600);
	--function-neutral-700:  var(--scheme-sand-700);
	--function-neutral-800:  var(--scheme-sand-800);
	--function-neutral-900:  var(--scheme-sand-900);
	--function-neutral-1000: var(--scheme-sand-1000);
	--function-neutral-1100: var(--scheme-sand-1100);
	--function-neutral-1200: var(--scheme-sand-1200);

	--function-neutral-600-10: var(--scheme-sand-600-10);
	--function-neutral-600-30: var(--scheme-sand-600-30);
	--function-neutral-600-50: var(--scheme-sand-600-50);
}
