:root {
  /* Colors (dark mode) */
  --scheme-white: hsl(0, 0%, 100%); /* “white” */
  --scheme-gray-1: hsl(224, 20%, 94%);
  --scheme-gray-2: hsl(224, 6%, 77%);
  --scheme-gray-3: hsl(224, 6%, 56%);
  --scheme-gray-4: hsl(224, 7%, 36%);
  --scheme-gray-5: hsl(224, 10%, 23%);
  --scheme-gray-6: hsl(224, 14%, 16%);
  --scheme-black: hsl(224, 10%, 10%);
}
