:root {
  --color-primary: hsl(225deg 100% 75%);
  --color-secondary: hsl(333deg 100% 55%);
  --color-tertiary: hsl(280deg 100% 85%);
  --color-decorative: hsl(200deg 50% 60%);
}

[data-theme="light"] {
  --page-background: var(--static-white);
  --color-text: var(--function-neutral-100);
}

[data-theme="dark"] {
  --page-background: var(--function-neutral-200);
  --color-text: var(--static-white-light);
}
