:root {
  --base-font-size: 16px;

  /* FONT SCALE */
  --font-size--2: clamp(0.72rem, 0.9476rem + -0.2937vw, 0.8889rem);
  --font-size--1: clamp(0.9rem, 1.0348rem + -0.1739vw, 1rem);
  --font-size-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --font-size-1: clamp(1.2656rem, 1.2167rem + 0.2446vw, 1.4063rem);
  --font-size-2: clamp(1.4238rem, 1.3077rem + 0.5808vw, 1.7578rem);
  --font-size-3: clamp(1.6018rem, 1.3947rem + 1.0356vw, 2.1973rem);

  /* FONT FAMILY */
  --font: "Poppins";
  --font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --base-font: var(--font, var(--font-system)), var(--font-system);
}
